<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node Js</title>
</head>
<body>
<h1>Hi <%= person %></h1>
<a href="/contact-us"> contact-us</a>
<p> Age: <%= data.age %>  </p>


<h2>Hobbies</h2>
<% data.hobbies.forEach(function(item){ %>
<li></li>
<%  });  %>
</body>
</html>