<html>
    <head></head>
    <body>
        <h1>Create A Blog Post</h1>
        <p></p>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About Page</a>
            <a href="//blog/create">Create Blog</a>

        </nav>
        <form action="">
            <label for="">Name: </label> <br>
            <input type="text"> <br>
            <label for="">Des: </label>  <br>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <br>
            <br>
            <button>Submit</button>
        </form>
    </body>
</html>