<html>
    <head></head>
    <body>
        <h1>Create A Blog Post</h1>
        <p></p>
        <%- include('./partials/nav.ejs') %>
        <form action="/blog" method="post"> 
            <label for="">Name: </label> <br>
            <input type="text" name="title"> <br>
            <label for="">Des: </label>  <br>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
            <br>
            <br>
            <button>Submit</button>
        </form>
    </body>
</html>