<html>
    <head></head>
    <body>
        <h1>Node Ejs Engine</h1>
        <p>DIU Dhaka</p>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About Page</a>

        </nav>
    </body>
</html>